@import '@/style/index.less';

.header {
  width: 100%;
  height: 64px;
  background: #0c121c;
}

.pageContainer {
  min-width: 100%;
  min-height: 100%;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.carouselWindow {
  width: 600px;
  height: 300px;
  border: 1px solid #2a2d36;
  overflow: hidden;
}

.carouselItemBlock {
  height: 300px;
  position: relative;
}

.carouselItem {
  width: 600px;
  height: 300px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  line-height: 300px;
}

.mapSpace {
  margin: auto;
  width: calc(100vw - 540px);
  height: 100vh;
  position: absolute;
  display: inline-block;
}

.rightSider {
  width: 270px;
  height: 100vh;
  float: right;
  background: #dddddd;
}

div#devicePackCount {
  padding: 0 !important;
}

.singleItem {
  display: block;
  margin-bottom: 20px;
}

.inputTitle {
  display: block;
  margin: 10px auto;
}

.editBtn,
.addFormBtn,
.confirmBtn,
.cancelBtn {
  @smallBtn();
  margin: 15px 0;
}

.editBtn,
.addFormBtn,
.confirmBtn {
  @darkBtn();
}

.editBtn {
  margin-left: 15px;
}

.closeBtn {
  @platFormBtn();
  @smallBtn();
  margin: auto;
  display: block;
}

.leftSider {
  width: 240px;
  min-height: calc(100vh - 64px);
  position: absolute;
  overflow: auto;
  background: #ffffff;
  display: inline-block;
  vertical-align: top;
  :global {
    .ant-menu-item {
      height: 64px !important;
    }
  }
}

.itemInfo {
  margin: 20px;
}

.formItem {
  width: 75% !important;
}

.deleteBtn {
  padding: 0 5px;
  float: right;
  color: #b8291c;
  cursor: pointer;
}

.vehicleMenuItem {
  font-size: 1rem;
  padding: 20%;
}

.inlineInput {
  width: 60%;
  margin-right: 5%;
}

.headerJLRLogo {
  padding: 20px;
  width: 28px;
  height: 24px;
}

.headerText,
.headerIcon {
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  line-height: 64px;
}

.headerText {
  margin-left: 10px;
}

.headerIcon {
  margin-left: 25px;
  font-weight: 200;
}

.formLabel {
  color: #767676;
  min-height: 22px;
  word-break: keep-all;
}

.formText {
  vertical-align: bottom;
  padding-top: 8px;
  min-height: 22px;
}

.formItemInfoSpan {
  vertical-align: bottom;
  margin-right: 20px;
  padding-top: 14px;
  display: inline-block;
}

.infoStream {
  display: block;
}

.infoPair {
  box-sizing: border-box;
  margin-right: 1%;
  padding: 6px 12px;
  width: 48%;
  font-size: 14px;
  display: inline-block;
}

.infoPairKey,
.eleKey {
  color: #4c4843;
  font-weight: 300;
  word-break: break-all;
}

.eleKey {
  background: #f7f6fd;
}

.eleKey,
.eleVal {
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoPairVal,
.eleVal {
  font-weight: 400;
  word-break: break-all;
}

.infoPairKey,
.infoPairVal {
  width: 50%;
  display: inline-block;
}

.infoHeader {
  font-size: 16px;
  margin-bottom: 14px;
  padding: 8px 12px;
  background: #f9f7f6;
}

.compSingularTitle {
  padding: 6px 12px;
}

.infoValArr {
  color: #035ade;
  cursor: pointer;
}

.infoArrValBox {
  .infoArrValElement {
    width: 8.8%;
    display: inline-block;
    box-sizing: border-box;
  }
  .infoArrValTitle {
    width: 12%;
    display: inline-block;
    box-sizing: border-box;
  }
}
