@import '@/style/index.less';

.header {
  width: 100%;
  height: 64px;
  background: #0c121c;
}

.pageContainer {
  min-width: 100%;
  min-height: 100%;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.carouselWindow {
  width: 600px;
  height: 300px;
  border: 1px solid #2a2d36;
  overflow: hidden;
}

.carouselItemBlock {
  height: 300px;
  position: relative;
}

.carouselItem {
  width: 600px;
  height: 300px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  line-height: 300px;
}

.mapSpace {
  margin: auto;
  width: calc(100vw - 540px);
  height: 100vh;
  position: absolute;
  display: inline-block;
}

.rightSider {
  width: 270px;
  height: 100vh;
  float: right;
  background: #dddddd;
}

div#devicePackCount {
  padding: 0 !important;
}

.singleItem {
  display: block;
  margin-bottom: 20px;
}

.inputTitle {
  display: block;
  margin: 10px auto;
}

.addFormBtn,
.confirmBtn,
.cancelBtn {
  @smallBtn();
  margin: 15px 0;
}

.addFormBtn,
.confirmBtn {
  @darkBtn();
}

.leftSider {
  width: 280px;
  min-height: calc(100vh - 64px);
  position: absolute;
  overflow: auto;
  background: #ffffff;
  display: inline-block;
  vertical-align: top;
  :global {
    .ant-menu-item {
      height: 64px !important;
    }
  }
}

.itemInfo {
  margin: 20px;
}

.formItem {
  width: 75% !important;
}

.deleteBtn {
  padding: 0 5px;
  float: right;
  color: #b8291c;
  cursor: pointer;
}

.vehicleMenuItem {
  font-size: 1rem;
  padding: 20%;
}

.inlineInput {
  width: 60%;
  margin-right: 5%;
}

.headerJLRLogo {
  padding: 20px;
  width: 28px;
  height: 24px;
}

.headerText,
.headerIcon {
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  line-height: 64px;
}

.headerText {
  margin-left: 10px;
}

.headerIcon {
  margin-left: 25px;
  font-weight: 200;
}

.formLabel {
  color: #767676;
}

.formText {
  vertical-align: bottom;
  padding-top: 8px;
}
