@import '@/style/index.less';

.pageContainer {
  min-width: 100%;
  min-height: 100%;
}

.card {
  margin-bottom: 20px;
  box-shadow: 8px 8px 24px 0px #00000014;
  background: #ffffff;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.carouselWindow {
  width: 600px;
  height: 300px;
  border: 1px solid #2a2d36;
  overflow: hidden;
}

.carouselItemBlock {
  height: 300px;
  position: relative;
}

.carouselItem {
  width: 600px;
  height: 300px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  line-height: 300px;
}

.menuPage {
  width: calc(100vw - 280px);
  margin-left: 260px;
  margin-top: 20px;
  display: inline-block;
}

.flowPage {
  background: #f3f3f3;
}

.searchConditionBlock {
  height: 240px;
}

.searchConditionCol {
  margin-top: 50px;
}

.btnBlock {
  width: 400px;
  height: 80px;
  margin: auto;
}

.resetBtn,
.exportBtn,
.lightBtn {
  @platFormBtn();
  margin: 10px;
}

.exportBtn {
  margin: 0 0 15px 0;
  float: right;
}

.searchBtn,
.createBtn,
.queryBtn {
  @platFormBtn();
  @darkBtn();
}

.searchBtn,
.queryBtn {
  margin: 10px;
}

.createBtn {
  margin-bottom: 15px;
}

.lightBtn,
.queryBtn {
  width: 125px;
  height: 42px;
}

.queryBtn {
  float: right;
}

.saveBtn {
  @platFormBtn();
  @darkBtn();
}

.inlineSearch {
  margin: 10px;
  width: 200px;
  height: 42px;
  float: right;
}

.operationText {
  margin: 0 5px;
  display: inline-block;
  color: #035ade;
  cursor: pointer;
}

.topSection {
  padding: 15px;
  height: 90px;
  box-sizing: border-box;
}

.operationBar {
  padding-top: 10px;
}

.bottomSection {
  margin-top: 20px;
  padding: 15px;
  height: calc(100vh - 210px);
  box-sizing: border-box;
}

.mapSection {
  width: 100%;
  aspect-ratio: 1;
  background: #f9f7f6;
}

.leftSection {
  width: 50vh;
  height: 100%;
  display: inline-block;
}

.rightSection {
  float: right;
  width: calc(100% - 50vh - 20px);
  height: 100%;
  overflow: auto;
}

.vehicleMapInfo {
  margin-top: 30px;
}
.infoPair {
  margin: 15px;
  font-size: 14px;
}

.infoKey,
.infoVal {
  display: inline-block;
}

.infoKey {
  width: 24%;
  color: #4c4843;
  font-weight: 300;
}

.infoVal {
  width: 74%;
  font-weight: 400;
}
